<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs  %></head>
<body>
  <div class="<%= className %>">
    
    <div class="col-xs-4 col-xs-offset-4 text-center index-description">
      
        <!-- sidebar -->
        <!-- pagecontent -->
        <img src="/images/indexlogo.png" alt="">
        <h1>Welcome to <%= title %></h1>
        <p>Find the music you love</p>
        <!-- <% include partials/template/footer.ejs %> -->
        <% include partials/template/indexpagenavbar.ejs %>
        <% include partials/template/jsdefaults.ejs %>
      
    </div>
  </div>
</body>
</html>
