<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs  %></head>
<body>
  <div class="<%= className %>">
    
    <div class="col-xs-4 col-xs-offset-4 text-center index-description">
      
        <!-- sidebar -->
        <!-- pagecontent -->
        <img src="/public/images/indexlogo.png" alt="">
        <p>Welcome to <%= title %></p>
        <p>this should shoe in web site!</p>
        <!-- <% include partials/template/footer.ejs %> -->
        <% include partials/template/indexpagenavbar.ejs %>
        <% include partials/template/jsdefaults.ejs %>
      
    </div>
  </div>
</body>
</html>
