<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs  %></head>
  <body>
  
   <div id="wrapper">

    <!-- sidebar -->
    <% include partials/template/header.ejs %>

    <!-- pagecontent -->

    <div class="className" id="page-content-wrapper">
      <!-- button for navbar -->
      <div class="button-navbar">

        <button type="button" id="menu-toggle" class="btn btn-warning" aria-label="Left Align">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
          <img class="center-block"  src="/images/logonavbar.png" alt="">
      </div>       


      <div class="col-lg-12">
        <div class="col-lg-6 block-column" id="music-column-commands">
          <br>
          <div class="embed-responsive embed-responsive-16by9">
          <video loop="loop" width="445" height="290" autoplay>
            <source src="/images/music.mp4" type="video/mp4">
            <source src="/images/music.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>  
          </div>

          <h4 class="text-center">Click on the Music Genre you want to get!</h4>
          <p class="text-center"><i> More Genres Coming Soon!</i></p>
          <div class="selection-conatiner">
            <div class="col-lg-6 music-list" >
              <button type="submit" class="btn-block btn btn-warning find-list-button center-block"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Pop</button>
            </div>
            <div class="col-lg-6 music-list" >
              <button type="submit" class="btn-block btn btn-warning find-list-button center-block"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Rock</button>
            </div>
            <div class="col-lg-6 music-list" >
              <button type="submit" class="btn-block btn btn-warning find-list-button center-block"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Ballads</button>
            </div>
            <div class="col-lg-6 music-list" >
              <button type="submit" class="btn-block btn btn-warning find-list-button center-block"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Hip-Hop</button>
            </div>
            <div class="col-lg-6 music-list" >
              <button type="submit" class="btn-block btn btn-warning find-list-button center-block"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Classic-Rock</button>
            </div>
            <div class="col-lg-6 music-list" >
              <button type="submit" class="btn-block btn btn-warning find-list-button center-block"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Latin</button>
            </div>
          </div>
        </div>
        <div class="col-lg-6 block-column">
          <h3 class="text-center">Find your play list genre</h3>
          <div class="col-lg-12 target"> <!-- takes all column -->
            <div class="show-songs"> <!-- here shows API songs -->
              <div class="music-image-lists"> 
                <div id="text-list-image">
                  <h3 id="show-text text-center"><span class="glyphicon glyphicon-music" aria-hidden="true"></span>  Select a Genre to Play Music lists!<h3>
                </div>
              </div>
            </div>
          </div>
          <!-- <input type=search name=s>   -->          
        </div>
      </div> 
    </div>  
  </div>
    <!-- <% include partials/template/footer.ejs %> -->
    <% include partials/template/jsdefaults.ejs %>

  </body>
</html>


