<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs  %></head>
  <body>
  
   <div id="wrapper">

    <!-- sidebar -->
    <% include partials/template/header.ejs %>

    <!-- pagecontent -->

    <div class="className" id="page-content-wrapper">
      <!-- button for navbar -->
      <div class="button-navbar">
        <button type="button" id="menu-toggle" class="btn btn-warning" aria-label="Left Align">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
          <img class="center-block"  src="/images/logonavbar.png" alt="">
      </div>       
      

      <div class="col-lg-12">
          <div class="embed-responsive embed-responsive-16by9 instagram-video">
            <video loop="loop" width="445" height="290" autoplay>
              <source src="/images/socialmedia.mp4" type="video/mp4">
              <source src="/images/socialmedia.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>   
          </div>


        <div id="instagram-search-container"> <!-- start search container-->
          <h3 class="text-center">Find Instagram Images</h3>
          <form class="navbar-form" role="search">
            <div class="form-group col-lg-offset-3">
              <input type="text" class="form-control input-lg" placeholder="Enter Images Topic">
            </div>
            <button type="submit" class="btn btn-warning find-images-button btn-lg">Find My Instagram Images</button>
          </form>
         
          <div class="show-images"><!-- here display images -->
            <img src="">
          </div>
          
        </div><!-- END search container-->

      </div> 
    </div>  
  </div>

    <!-- <% include partials/template/footer.ejs %> -->
    <% include partials/template/jsdefaults.ejs %>

  </body>
</html>



