<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs  %></head>
  <body>
  
   <div id="wrapper">

    <!-- sidebar -->
    <% include partials/template/header.ejs %>

    <!-- pagecontent -->

    <div class="className" id="page-content-wrapper">
      <!-- button for navbar -->
      <div class="button-navbar">

        <button type="button" id="menu-toggle" class="btn btn-warning" aria-label="Left Align">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        </button>
          <img class="center-block"  src="/images/logonavbar.png" alt="">
      </div>       


      <div class="col-lg-12">
        <div class="col-lg-6 block-column">

          <br>
          <div class="embed-responsive embed-responsive-16by9">
            <video loop="loop" width="445" height="290" autoplay>
              <source src="/images/video.mp4" type="video/mp4">
              <source src="/images/video.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>  
            
          </div>


        <h3 class="text-center">Video list:</h3>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Play</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Metallica</td>
                <td>One</td>
                <th><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></th>
                <th><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></th>
              </tr>
                            <tr>
                <td>Metallica</td>
                <td>One</td>
                <th><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></th>
                <th><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></th>
              </tr>
                            <tr>
                <td>Metallica</td>
                <td>One</td>
                <th><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></th>
                <th><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></th>
              </tr>
              <tr>
                <td>Bon Jovi</td>
                <td>It's my life</td>
                <th><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></th>
                <th><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></th>
              </tr>
              <tr>
                <td>Michel Jackson</td>
                <td>You are not Alone</td>
                <th><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></th>
                <th><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></th>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-lg-6 block-column">
          <h3 class="text-center">Find your favourite videos</h3>
          <form class="navbar-form" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Video">
            </div>
            <button type="submit" class="btn btn-warning find-video-button">Find My Video</button>
          </form>
          <div class="col-lg-12 show-videos">

          <h2>Results</h2>    
            

<!-- 
          <div class="embed-responsive embed-responsive-4by3">
            
          </div> -->
            
            

          </div>

          <!-- <input type=search name=s>   -->
          
          
        </div>
      </div> 
    </div>  
  </div>



    <!-- <% include partials/template/footer.ejs %> -->
    <% include partials/template/jsdefaults.ejs %>

  </body>
</html>


