<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs  %></head>
  <body>
    <% include partials/template/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>this should shoe in web site!</p>

    <h1>Search Videos</h1>
    <p>Here you will find your videos</p>

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>

  </body>
</html>


