<header>
<a href="/">Home</a> |
<a href="/music">Music</a> |
<a href="/video">Videos</a> |
<a href="learninstrument">Learn Instruments</a> |
<a href="learnasong">Learn how to play a song</a> 
</header>