
<div id="sidebar-wrapper">

  <ul class="sidebar-nav">
    <h1 class="text-center">MENU</h1>

    <div id="navbar-selection">

      <div class="active-menu"><li><a href="/"><span class="sidemenu glyphicon glyphicon-home">  Home</span></a></li></div>

      <div class="active-menu"><li><a href="/music"><span class="sidemenu glyphicon glyphicon-headphones">  Music</span></a></li></div>

      <div class="active-menu"><li><a href="/video"><span class="sidemenu glyphicon glyphicon-play">  Videos</span></a></li></div>

      <div class="active-menu"><li><a href="/learninstrument"><span class="sidemenu glyphicon glyphicon glyphicon-play-circle">  Learn an instrument</span></a></li></div>

      <div class="active-menu"><li><a href="/learnasong"><span class="sidemenu glyphicon glyphicon-play-circle">  Learn a song</span></a></li></div>

    </div>
  </ul>
</div>
