
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/music">Music</a></li>
    <li><a href="/video">Videos</a></li>
    <li><a href="learninstrument">Learn Instruments</a></li>
    <li><a href="learnasong">Learn how to play a song</a></li>
  </ul>
</div>
