<a href="/"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button></a>

<a href="/music"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span></button></a>

<a href="/video"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button></a>

<a href="learninstrument"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon glyphicon glyphicon-play-circle" aria-hidden="true"></span></button></a>

<a href="learnasong"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button></a>

<a href="testdb"><button type="button" class="btn btn-default" aria-label="Left Align"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button></a>