<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->


<!-- this is side nabvar toggle functionality-->
<script>
$(function(){



  // hover effect on image and text for music page
  $('#text-list-image').hide();
  $('.music-image-lists').on({
    mouseenter: function () {
     $('#text-list-image').show('slow');
    },
    mouseleave: function () {
      $('#text-list-image').hide();
    }
  });

  // hover effect on image and text for video pages
  $('.videos-image-lists').on({
    mouseenter: function () {
     $('#text-list-image').show('slow');
    },
    mouseleave: function () {
      $('#text-list-image').hide();
    }
  });

// Soundcloud API
  $('.find-list-button').on('click', function(e){
    e.preventDefault();
    $('.music-image-lists').hide('slow');
    SC.initialize({
      client_id: '90cf30ff04eaf9e6a8212991b27f9a3b'
    });

    var title = $(this).text().toLowerCase().trim();

    var soundcloud_list = "https://soundcloud.com/diego-herrera-805994727/sets/"+title
    
    SC.oEmbed(soundcloud_list, { auto_play: false }).then(function(oEmbed) {

    console.log('oEmbed response: ', oEmbed);
    console.log( 'html: ' , oEmbed.html);
    var html = oEmbed.html;
    $(html).appendTo('.show-songs');
    });
  });




// youtube API
  $('.find-video-button').on('click', function(e) {
    var search_topic = $('input').val()
    
    if (search_topic == '' ){
      alert("Please enter a Video");
    }
    else {
      console.log("here we are !")
      e.preventDefault();
      $('.videos-image-lists').hide('slow')
      $.ajax({
        url: 'https://www.googleapis.com/youtube/v3/search?part=snippet&q='+search_topic+'&type=video&videoCaption=closedCaption&key=AIzaSyDcADPFKszTytXes32wpf2iotWdTdsMlEU',
        method: 'GET',
        dataType: 'jsonp',
        success: function(data){ 

          var result = data.items;
          console.log('complete response', result);

          $.each(result, function(index, item){
            console.log('each look response', item);
            var video = "https://www.youtube.com/embed/";
            var videoid= item.id.videoId;

            // constructing the html to add in DOM
            var html = [
            '<div class="embed-responsive embed-responsive-16by9 videos-display">',
              '<iframe class="embed-responsive-item" width="400" height="215" src="'+video+videoid+'">',
            '</div>'
            ].join("\n");

            $(html).appendTo('.show-videos');

            $('.show-videos').append("<button type='submit' info="+video+videoid+"  class='btn btn-inverted btn-block btn-xs save-video-button'><span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span> Save it!</button>");
          });


          //getting the url of embeded video to be saved (named info)
          $('.save-video-button').on('click', function(event) {
            //get video url
            if (confirm("Are you sure you want to SAVE this video?")){
              var info = $( this ).closest( "button" ).attr('info');

              var html = [
              '<div class="embed-responsive embed-responsive-16by9 videos-display video-container">',
                '<iframe class="embed-responsive-item" width="400" height="215" src="'+info+'">',
              '</div>'
              ].join("\n");

              $(html).appendTo('.new-saved-video');
              $('.new-saved-video').append("<button type='submit' info="+info+"  class='btn btn-inverted btn-block btn-xs delete-video-button'><span class='glyphicon glyphicon-thumbs-down' aria-hidden='true'></span> Delete it</button>");


              var obj = {
                title: info.toString()
              }

              console.log(info);
              // debugger


            //----------------ajax request using mongo db ------------
              var collection = window.location.pathname;

              var URL = 'http://localhost:3000'+collection;
              // debugger
              // add item
              $.ajax({
                url: URL,
                type: "POST",
                data: JSON.stringify(obj),
                contentType: "application/json",
                success: function(data) {
                  console.log(data);
                  console.log("now what is the data, object or string?")
                },
                error:   function(xhr, text, err) {
                  console.log('error: ',err);
                  console.log('text: ', text);
                  console.log('xhr: ',xhr);
                  console.log("there is a problem whit your request, please check ajax request");
                }
              });
            //---------------- END  -- ajax request using mongo db --------
            }
          });      
        }    
      });
    }
  });


  // delete video 
  $('.delete-video-button').on('click', function(event){
    event.preventDefault();
    
    if (confirm("Are you sure you want to DELETE this video?")){
      // get the video url
      var info = $( this ).closest( "button" ).attr('info');
      $( this ).closest( ".video-container" ).hide('slow');
      //find location of where to make the delete request
      var collection = window.location.pathname;
      var URL = 'http://localhost:3000'+collection;
      // debugger

      var obj = {
        video: info
      }

      debugger
      $.ajax({
        url: URL,
        type: "DELETE",
        data: JSON.stringify(obj),
        contentType: "application/json",
        success: function(data) {
          console.log(data);
          console.log("now what is the data, object or string?")
        },
        error:   function(xhr, text, err) {
          console.log('error: ',err);
          console.log('text: ', text);
          console.log('xhr: ',xhr);
          console.log("there is a problem whit your request, please check ajax request");
        }
      });
    }
  });

// Instagram API

  $('.find-images-button').on("click", function(event){
    event.preventDefault();
    var images = $('input').val();

    debugger
    
      $.ajax({
        url: 'https://api.instagram.com/v1/tags/'+images+'/media/recent?client_id=e7c670bdd50b41e8befbdcdcdf453677',
        method: 'GET',
        dataType: 'jsonp',
        success: function(data){ 

      
          
          console.log(data);
          // $("<p>").text("Results for: " + search).appendTo(".show-images");

          data.data.forEach(function(picture){
            var pic_url = picture.images.low_resolution.url;
            var html = '<img src="'+pic_url+'">';



            $(html).appendTo('.show-images');

            // $('<img>').attr('src',pic_url).appendTo(".show-images");

          });

        },    
        error: function(){
          console.log("error in request please verify ajax request! Diego");
        }
      });
  });


  // $('.find_pics_word').on("click", function(){

  //   var search = $("#instagram_container input").val();
    
  //     $.ajax({
  //       url: 'https://api.instagram.com/v1/tags/'+search+'/media/recent?client_id=e7c670bdd50b41e8befbdcdcdf453677',
  //       method: 'GET',
  //       dataType: 'jsonp',
  //       success: function(data){ 
          
  //          $("<p>").text("Results for: " + search).appendTo(".general");

  //           data.data.forEach(function(picture){
  //           $('<img>').attr('src',picture.images.low_resolution.url).appendTo(".general");
  //           });
  //       }    
  //     });
  // });


  // $('.active-menu').on('click', function(){
  //   $('.active-menu').removeClass('selected');
  //   $(this).addClass('selected');
  // });

// navbar menu slide functionality
  $('#menu-toggle').on('click', function(e){
    e.preventDefault();
    if( $('#sidebar-wrapper').is(':visible') ) {
      $('#navbar-selection').hide('slow');
      $('#sidebar-wrapper').animate({ 'width': '0px' }, 'slow', function(){

      $('#sidebar-wrapper').hide();
      });
      $('#page-content-wrapper').animate({ 'padding-left': '0px' }, 'slow');
    }
    else {
      $('#sidebar-wrapper').show();
      $('#navbar-selection').show('slow');
      $('#sidebar-wrapper').animate({ 'width': '250px' }, 'slow');
      $('#page-content-wrapper').animate({ 'padding-left': '250px' }, 'slow');
    }
  });
});
</script>