/*sidebar*/
html {
  background: black;
}
body {
  background: black;
}

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 250px;
  height: 100%;
  /*overflow-y: hidden;*/
  background: #2C3E50;
  border: 5px solid black;
  /*opacity: 0.9; */
  position: fixed;
}
/*main content*/
#page-content-wrapper{
  width: 100%;
  height: auto;
  position: absolute;
  padding: 15px;
  /*border: 5px solid green;*/
  padding-left: 250px;
  /*background: url(/images/background.jpg) no-repeat center center fixed; */
  background: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

/*change the sidebar to display*/
#wrapper.menuDisplayed #sidebar-wrapper{
  width: 0px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left: 0px;
}
/*sidebar styling*/
.sidebar-nav{
  padding: 0px;
  list-style: none;
  color: white;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li:hover{
  background: black;
  color: white;
} 

.sidemenu {
  margin-left: -20px;
}

.active .selected{
  background: black;
}

/*index page*/
.index { 
  height: 650px;
  width: 100%;
  background: url(/images/index.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.index-description {
  padding-top: 160px;
  font-size: 30px;
}

/*music page*/
.block-column {
  background: #004044;
  border: 7px solid black;
}

.button-navbar{
  /*border: 3px solid white;*/
  he: 40px;
}

.button-navbar button{
  margin-left: 0px;
  position: relative;
  /*position: fixed;*/
}

/*some space to show videos*/
.videos-display {
  margin-top: 15px;  
}

/*change save song button dysplay*/
.save-video-button {
  letter-spacing: 1px;
  background: black;
}

.save-video-button:hover {
  background: #eea236;
}

/*change delete song button */
.delete-video-button {
  letter-spacing: 1px;
  background: black;
}

.delete-video-button:hover {
  background: #eea236;
}

/*display videos from mongo db*/
.videos-list {
  margin-top: 15px;  
}

.music-list {
  margin-bottom: 20px;
}

/*small fix for boxes*/
.text-center {
  padding-bottom: 8px;
}